[DEFINE]

DESTPORT := 4000
SOURCEPORT := 5000

[TESTPORT_PARAMETERS]
*.*.TRI_mapper_address := "127.0.0.1"
*.*.TRI_mapper_port := "2222"

[MODULE_PARAMETERS]
LibCommon_Time.PX_TWAIT := 120.0
LibCommon_Sync.PX_TSYNC_TIME_LIMIT := 120.0;
LibItsBtp_Pixits.PX_DESTINATION_PORT := ${DESTPORT,integer};
LibItsBtp_Pixits.PX_SOURCE_PORT := ${SOURCEPORT,integer};

[LOGGING]
ConsoleMask := ERROR | WARNING | VERDICTOP | TESTCASE | USER | DEBUG | STATISTICS
FileMask := LOG_ALL | MATCHING | DEBUG | ERROR | WARNING | VERDICTOP | TESTCASE | USER | DEBUG | STATISTICS
TimeStampFormat := DateTime
LogEventTypes := Yes
SourceInfoFormat := Stack
LogSourceInfo := Yes
LogFile := "%e.%h-%r"

[MAIN_CONTROLLER]
TCPPort := 9999
# NumHCs := 1
KillTimer := 3

[EXECUTE]
ItsBtp_TestControl.control
//ItsCam_TestControl.control
//ItsDenm_TestControl.control
//ItsIpv6OverGeoNetworking_TestControl.control
//ItsGeoNetworking_TestControl.control
